@model IEnumerable<CafeteriaTBD.Models.Asentamiento>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codigoPostal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idEstado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaCrea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaModifica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Municipio.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoAsentamiento.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario1.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zona.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codigoPostal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idEstado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaCrea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaModifica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Municipio.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoAsentamiento.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario1.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zona.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idAsentamiento }) |
            @Html.ActionLink("Details", "Details", new { id=item.idAsentamiento }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idAsentamiento })
        </td>
    </tr>
}

</table>
