@model CafeteriaTBD.Models.Proveedor

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Proveedor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidoMaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidoMaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidoPaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidoPaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rfc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rfc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asentamiento.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asentamiento.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoProveedor.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoProveedor.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario1.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario1.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
