@model IEnumerable<CafeteriaTBD.Models.CorteVenta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.caja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.venta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gasto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tarjeta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaCrea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaModifica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trabajador.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario1.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.caja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.venta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gasto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tarjeta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaCrea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaModifica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trabajador.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario1.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idCorteVenta }) |
            @Html.ActionLink("Details", "Details", new { id=item.idCorteVenta }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idCorteVenta })
        </td>
    </tr>
}

</table>
