@model CafeteriaTBD.Models.Venta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Venta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.referencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.referencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorteVenta.caja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorteVenta.caja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sucursal.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sucursal.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario1.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario1.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idVenta }) |
    @Html.ActionLink("Back to List", "Index")
</p>
